<!DOCTYPE html>
<html>
  <head>
    <title>Oefeningen Conditionals</title>
    <meta charset="utf-8">
    <script src="jquery.js"></script>
    <script src="khl.js"></script>
    <link rel="stylesheet" href="khl.css">
    <style>
      img.center {
        display: block;
        margin: auto auto;
      }
    </style>
  </head>
  <body>
    <div id="contents">
      <h1>Oefeningen Conditionals</h1>
      <section>

      <%= 
         (1..10).map do |n|
           template(n)
         end.join("\n\n")
      %>
    </div>
  </body>
</html>
