<!DOCTYPE html>
<html>
  <head>
    <title>Java Basics</title>
    <meta charset="utf-8">
    <script src="jquery.js"></script>
    <script src="khl.js"></script>
    <link rel="stylesheet" href="khl.css">
    <style>
      .types-table {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border-collapse: collapse;
      }
      
      .types-table tr:first-child {
        border-bottom: black solid thin;
      }

      .types-table td {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="contents">
      <h1>Vul In</h1>
      <div data-question="fill-in-blanks">
        <h2>Hello World</h2>
        <p>
          Het volgende programma is verondersteld <code>Hello World</code> op het scherm te tonen.
          Vul de code aan gebruik makende van de volgende fragmenten:
        </p>
        <%= HTML::unordered_list( hello_world.answers.sort.uniq, { 'class' => 'pool' } ) %>
        <pre><%= hello_world.code %></pre>
        <p>
          Deze code definieert een <%= HTML::blank_inputbox("klasse") %> met naam <code>HelloWorld</code>.
          Java verwacht dat deze code in een bestand wordt bewaard met als bestandsnaam
          <%= HTML::blank_inputbox("HelloWorld.java") %> (hoofdlettergevoelig!).
        </p>
        <p>
          Java-code kan niet rechtstreeks uitgevoerd worden door de computer. In een eerste stap
          dient deze eerst gecompileerd te worden door de Java <%= HTML::blank_inputbox("compiler") %>.
          Compileren vertaalt de broncode naar een compacte tussentaal, deze
          heet de Java <%= HTML::blank_inputbox("bytecode") %>. Dit compilatieresultaat
          wordt bewaard in een bestand met de naam <%= HTML::blank_inputbox("HelloWorld.class") %>.
          Om het programma daadwerkelijk uit te voeren moeten we beroep doen op de JVM: dit staat
          voor <%= HTML::blank_inputbox("Java Virtual Machine", "", "case_insensitive") %>.
          Deze vertaalt de tussentaal naar machinecode, dewelke wel begrepen wordt door de computer.
        </p>
        <p>
          De klasse die je hierboven gedefinieerd hebt, bevat
          &eacute;&eacute;n <%= HTML::blank_inputbox("methode") %>, genaamd <code>main</code>.
          Als de JVM gevraagd wordt een programma uit te voeren, zoekt deze altijd eerst
          naar deze <code>main</code>. In bovenstaande code
          bevat <code>main</code> slechts &eacute;&eacute;n statement, dewelke
          ervoor zorgt dat <%= HTML::blank_inputbox("Hello World") %> afgeprint wordt.
        </p>
      </div>

      <div data-question="fill-in-blanks">
        <h2>Types</h2>
        <p>
          Wat is het type van de volgende waardes? Ter herinnering geven we je volgend overzicht:
        </p>
        <ul>
          <li><code>int</code>: gehele getallen</li>
          <li><code>double</code>: kommagetallen</li>
          <li><code>boolean</code>: waarheidswaarden</li>
          <li><code>char</code>: &eacute;&eacute;n teken (letter, cijfer, &hellip;)</li>
          <li><code>String</code>: woorden/tekst</li>
        </ul>
        <%= types %>
      </div>
    </div>
  </body>
</html>
