<!DOCTYPE html>
<html>
  <head>
    <title>Voorbeeld</title>
    <meta charset="utf-8">
    <script src="jquery.js"></script>
    <script src="khl.js"></script>
    <link rel="stylesheet" href="khl.css">
    <style>
       .slideshow img {
        width: 80%;
      }
    </style>
  </head>
  <body>
    <div id="contents">
      <h1>Voorbeeld</h1>

      <section>
        <h2>Invuloefening</h2>
        <div data-question="fill-in-blanks">
          <p>
            Vul in.
          </p>
          <pre>
<%= fill_in_blanks.code %>
          </pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Type-Invuloefening</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van FillInTypes.
          </p>
          <pre>
<%= fill_in_types.code %>
          </pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Type-Invuloefening</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van FillInAccessModifiers.
          </p>
          <pre>
<%= fill_in_access_modifiers.code %>
          </pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Invuloefening met pool</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van FillInBlanks met pool.
          </p>
          <%= HTML::unordered_list( fill_in_blanks_pooled.answers.sort.uniq ) %>
          <pre>
<%= fill_in_blanks_pooled.code %>
          </pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Tokenselectie</h2>
        <div data-question="selection">
          <p>
            Selecteer de types.
          </p>
          <pre>
<%= select_types.code %>
          </pre>
        </div>
      </section>

      <section>
        <h2>Lijnselectie</h2>
        <div data-question="selection">
          <p>
            Selecteer de constructor.
          </p>
          <pre>
<%= select_lines.code %>
          </pre>
        </div>
      </section>

      <section>
        <h2>Uitvoer bepalen</h2>
        <div data-question="fill-in-blanks">
          <p>
            De uitvoer van dit programma is <%= HTML::blank_inputbox(interpret.result) %>
          </p>
          <pre>
<%= interpret.code %>
          </pre>
        </div>
      </section>

      <section>
        <h2>Slideshow</h2>
        <div class="slideshow">
          <div class="slide">
            <img src="slides-example-0.png">
            <p>Eerste prentje</p>
          </div>
          <div class="slide">
            <img src="slides-example-1.png">
            <p>Tweede prentje</p>
          </div>
          <div class="slide">
            <img src="slides-example-2.png">
          </div>
          <div class="slide">
            <img src="slides-example-3.png">
          </div>
          <div class="slide">
            <img src="slides-example-4.png">
          </div>
          <div class="slide">
            <img src="slides-example-5.png">
          </div>
          <div class="slide">
            <img src="slides-example-6.png">
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
