<!DOCTYPE html>
<html>
  <head>
    <title>Voorbeeldgebruik</title>
    <meta charset="utf-8">
    <script src="jquery.js"></script>
    <script src="khl.js"></script>
    <link rel="stylesheet" href="khl.css">
    <style>
       .slideshow img {
        width: 80%;
      }
    </style>
  </head>
  <body>
    <div id="contents">
      <h1>Voorbeeld</h1>

      <section>
        <h2>Invuloefening (Java)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Vul in.
          </p>
          <pre><%= fill_in_blanks.code %></pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Type-Invuloefening (Java)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van FillInTypes.
          </p>
          <pre><%= fill_in_types.code %></pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Access Modifier Invuloefening (Java)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van FillInAccessModifiers.
          </p>
          <pre><%= fill_in_access_modifiers.code %></pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Invuloefening met Validators (Java)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van validators.
          </p>
          <pre><%= fill_in_blanks_validators.code %></pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Invuloefening met pool (Java)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Illustreert het gebruik van FillInBlanks met pool.
          </p>
          <%= HTML::unordered_list( fill_in_blanks_pooled.answers.sort.uniq, { 'class' => 'pool' } ) %>
          <pre><%= fill_in_blanks_pooled.code %></pre>
          <div class="hint">
            <p>Dit is de hint</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Tokenselectie (Java)</h2>
        <div data-question="selection">
          <p>
            Selecteer de types.
          </p>
          <pre><%= select_types.code %></pre>
        </div>
      </section>

      <section>
        <h2>Lijnselectie (Java)</h2>
        <div data-question="selection">
          <p>
            Selecteer de constructor.
          </p>
          <pre><%= select_lines.code %></pre>
        </div>
      </section>

      <section>
        <h2>Uitvoer Bepalen (Java)</h2>
        <div data-question="fill-in-blanks">
          <p>
            De uitvoer van dit programma is <%= HTML::blank_inputbox(interpret.output) %>
          </p>
          <pre><%= interpret.code %></pre>
        </div>
      </section>

      <section>
        <h2>Uitvoer Bepalen (JavaScript)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Na uitvoering zijn de volgende variabelen gelijk aan:
          </p>
          <pre><%= js_interpret.code %></pre>
          <%= HTML::output_sheet( js_interpret.output_map ) %>
        </div>
      </section>

      <section>
        <h2>Uitvoer Bepalen (JavaScript, Parameters)</h2>
        <div data-question="fill-in-blanks">
          <p>
            Na uitvoering zijn de volgende variabelen gelijk aan:
          </p>
          <pre><%= js_interpret_params.code %></pre>
          <ul>
            <il>
              Bij <code>x=1</code>,
                  <code>y=5</code> is 
              z = <%= HTML::blank_inputbox(js_interpret_params.output( {'x' => 1, 'y' => 5} )) %>
            </li>
        </div>
      </section>

      <section>
        <h2>Slideshow</h2>
        <div class="slideshow">
          <div class="slide">
            <img src="slides-example-0.png">
            <p>Eerste prentje</p>
          </div>
          <div class="slide">
            <img src="slides-example-1.png">
            <p>Tweede prentje</p>
          </div>
          <div class="slide">
            <img src="slides-example-2.png">
          </div>
          <div class="slide">
            <img src="slides-example-3.png">
          </div>
          <div class="slide">
            <img src="slides-example-4.png">
          </div>
          <div class="slide">
            <img src="slides-example-5.png">
          </div>
          <div class="slide">
            <img src="slides-example-6.png">
          </div>
        </div>
      </section>

      <section>
        <h2>Parameters</h2>
        <p>
          Parameters kunnen via de command-line meegegeven worden
          m.b.v. --parameter KEY=VALUE of -P KEY=VALUE. Zie makefile voor voorbeeld.
        </p>
        <p>
          Parameters kunnen uitgelezen worden d.m.v. Parameters.get(KEY).
        </p>
        <%=
           HTML::unordered_list( Parameters::keys ) do |key|
             "#{key} = #{Parameters.get(key)}"
           end
        %>
      </section>
    </div>
  </body>
</html>
