body {
    max-width: 1000px;
    margin: 0px auto 0px auto;
    background-color: gray;
}

#contents {
    background-color: white;
    margin: 0px;
}

h1 {
    background-color: #88F;
    padding: 15px;
    text-align: center;
}

h2 {
    background-color: #AAF;
    padding: 15px;
    text-align: center;
}

input {
    background-color: #FAA;
    text-align: center;
}

.correct {
    background-color: #AFA;
}

.keyword {
    font-weight: bold;
}

.comment {
    font-weight: bold;
    color: green;
}

.question {
    width: 80%;
    margin: 10px auto 10px auto;
    border: black solid thin;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px #000;
    position: relative;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    background: linear-gradient(#111, #999); 
    opacity: 0;
    transition: opacity 200ms ease-in;
    z-index: 999;
    pointer-events: none;
}

.popup:target {
    opacity: .95;
    pointer-events: auto;
}

.hint {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 20px;
    border: white 2px solid;
    text-align: center;
    background: #fff;
    background: linear-gradient(#fff, #999);
}

.selectable {
    cursor: pointer;
    border: thin transparent solid;
}

.selectable:hover {
    background: #AAA;
}

.selected {
    border: thin gray solid;
}

.question-control {
    display: inline-block;
    border: thin black solid;
    padding: 2px;
    margin: 20px 5px;
    border-radius: 5px;
    background: #AAA;
}

.question-control:hover {
    background: #AFA;
}

.selectable.correct {
    background: #AFA;
}

.selectable.incorrect {
    background: #FAA;
}

.question-control-box {
    width: 80%;
    margin: 5px auto;
    text-align: center;
    border: solid thin gray;
}
