body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: #CCCCFF;
    padding: 10px;
}

h2 {
    background-color: #CCCCFF;
    padding: 5px;
}

nav {
    background-color: #EEEEFF;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li {
    display: inline;
    padding: 5px;
}

.testcase-view table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.testcase-view table tr:nth-child(3n+1) {
    border-bottom: thin solid black;
}

.testcase-view table tr:first-child {
    border-bottom: thick solid black;
}

.testcase-view table td {
    padding: 5px;
    min-width: 50px;
}

.testcase-view table td.block-row-caption {
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
}

.testcase-view table [correct=true] {
    border-left: 10px green solid;
}

.testcase-view table [correct=false] {
    border-left: 10px red solid;
}

span.viewer:after {
    position: absolute;
    display: block;
    visibility: hidden;
    content: attr(data-full);
    z-index: 999;
    background-color: #8888FF;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

span.viewer {
    position: relative;
    display: inline;
}

span.viewer:hover:after {
    visibility: visible;
}