body {
    max-width: 1000px;
}

#input {
    display: block;
}

#go {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 30%;
    border-bottom: 1px solid black;
}

#output {
    margin-top: 20px;
    border-collapse: collapse;
}

#svg {
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}