body {
    font-family: verdana;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

h1, h2 {
    background-color: #CCCCFF;
    padding: 5px;
}

.input-box {
    text-align: center;
    background: #FFAAAA;
}

.correct {
    background: #AAFFAA;
}

.question {
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
}
