body {
    font-family:verdana;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.input-box {
    text-align:center;
    background:#FFAAAA;
}

.correct {
    background:#AAFFAA;
}

.question-choices {
    text-align:center;
}

.question-choices > button {
    width:150px;
    padding:10px;
}

p.feedback {
    display:none;
}